@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");

body {
  overflow: hidden;
}

.post-container {
  width: 2048px;
  height: 2048px;
  transform-origin: top left;
  margin: 50px 0;
  left: 50%;
  transform: scale(0.25) translateX(-50%);
  font-family: "BPG Nino Mtavruli", sans-serif;

  text-align: center;
  position: relative;
  color: white;
  overflow: hidden;
}

.post-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../img/post-bg.png") no-repeat center/cover;
  z-index: 10;
  filter: blur(2px);
  pointer-events: none;
}

.content {
  margin-top: -45px;
}

.img {
  width: 100%;
  height: 111%;
  object-fit: cover;
  object-position: center -200px;
}

.text {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text p {
  width: 1565px;
  font-weight: bold;
  font-size: 134px;

  line-height: 154px;
}

.author {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 76px;
  line-height: 87px;
}

.author::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 100%;
  background-color: #08a53f;
  border-radius: 21px;
}

#btn {
  margin: 20px 0 0 20px;
}
