doctype html
include parts/links-in-header
//- link(rel='stylesheet' href='../assets/post/css/bootstrap.min.css')
link(rel='stylesheet' href='../assets/post/css/style.css')
link(rel='stylesheet' href='../assets/post/css/post.css')

a(href='/')
    button.btn.btn-success#btn(type='button') უკან დაბრუნება
a(href=generatedImage download='')
    button.btn.btn-warning#btn(type='button') გადმოწერა
.post-container
    div.rectangle
        img.girchi-logo-rect(src='../assets/post/img/girchi-logo.png')

    img.img(src=image)
    p.number 36
    div.text
        p=message
    
    div.author=author
    
include parts/js_scripts
